img.draggablelogo {
  display: inline;
  vertical-align: bottom;
  width: 25px;
  height: 25px; }

.iiif_thumbnail {
  float: left;
  margin: 20px;
  min-width: 200px; }

iframe {
  position: relative;
  top: 0px;
  left: 0px; }

.iiif_presentation, .iiif_image {
  background-image: url(Loading_icon.gif);
  background-repeat: no-repeat;
  background-position: center center; }
